#canvas {

border-radius:10px;

}

#gui_container {

float:right;
width:450px;
height:650px;
border:1px solid #000;
border-radius:10px; 
overflow:hidden;

}

#gui_scroll { 

width:450px;
height:675px;
overflow-y:scroll;

} 
